[DIRECTORIES]
NetMHCpan path = AUTO
NetMHCpan version = 4.0
NetMHCIIpan path = AUTO
GibbsCluster path = AUTO
temp directory = /tmp/mhcvizpipe

[ANALYSIS]
motifs = kullback-leibler
hobohm clustering = yes
clustering threshold = 0.63
weight on prior = 200
max threads = -1

[SERVER]
HOSTNAME = 0.0.0.0
PORT = 8080

# NOTE: the paths to netMHCpan, netMHCIIpan and gibbscluster will usually be the default values if you have
# followed the installation instructions that come with those softwares. If you have a more custom setup, e.g. multiple
# versions or the programs are not in your PATH, then you might need to edit these values.
#
# The temp folder is up to you. /tmp gets cleared out occasionally on most systems (e.g. on restart), so if you want
# to keep the temporary files indefinitely you should change this to something else, e.g. somewhere in you home
# directory.
#
# "motifs" must be one of "kullback-leibler" or "shannon"
# "hobohm clustering" tells PlotlyLogo whether to perform clustering on the sequence alignments (i.e. weighting)
# "clustering threshold" is the similarity cutoff for Hobohm clustering (0.63 is a commonly used value)
# "weight on prior" is the weight on pseudo counts. Set to 0 to turn off pseudo counts.
#
# HOSTNAME and PORT are where you will connect to the app (i.e. the website). Note that you will have to restart
# MhcVizPipe before these changes will take effect.
# If you are not setting MVP up to
# run on a server, you can most likely leave these as the default values. If you ARE setting it up over a network, an
# explanation if you should change these and what values you should use are beyond the scope of this help.
# However, if you are then you probably already know what you are doing here.
