[DEFAULTS]
NetMHCpan path = netMHCpan4.0
NetMHCpan version = 4.0
NetMHCIIpan path = netMHCIIpan
GibbsCluster path = gibbscluster
temp directory = /tmp/mhcvizpipe

# NOTE: the paths to netMHCpan, netMHCIIpan and gibbscluster will usually be the default values if you have
# followed the installation instructions that come with those softwares. If you have a more custom setup, e.g. multiple
# versions or the programs are not in your PATH, then you might need to edit these values.
#
# The temp folder is up to you. /tmp gets cleared out occasionally on most systems (e.g. on restart), so if you want
# to keep the temporary files indefinitely you should change this to something else, e.g. somewhere in you home
# directory.